/* Styling for main container */
#root {
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-spacing: 4;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.5, 0, 4);
}

/* Label styling */
#descriptionLabel, #dueDateLabel, #nameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50; /* Dark color for readability */
    -fx-padding: 5 0;
}

/* TextField styling */
#dueDateTextField, #nameTextField {
    -fx-background-color: #ffffff;
    -fx-border-color: #d3e0f0; /* Soft border */
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #9aa6b8; /* Light color for prompt text */
}

#personalTaskBtn, #shareTaskBtn  {
    -fx-background-color: #ffffff;
    -fx-border-color: #4285f4;
    -fx-border-width: 2;
    -fx-text-fill: #4285f4;
    -fx-background-radius: 5;
}

#addTagBtn {
    -fx-font-size: 10;
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}

/* Button styling (shared style) */
#updateTaskBtn {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.button-style {
    -fx-background-color: #ffffff;
    -fx-border-color: #4285f4;
    -fx-border-width: 2;
    -fx-text-fill: #4285f4;
    -fx-background-radius: 5;
}

.icon_button {
    -fx-padding: 4;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#hideBtn {
    -fx-background-image: url("./../images/menu_icons/close-circle-outline_32px.png");
}
#copyTaskBtn {
    -fx-background-image: url("./../images/menu_icons/copy-outline_32px.png");
}
#deleteTaskBtn {
    -fx-background-image: url("./../images/menu_icons/trash-outline_32px.png");
}
#pasteTaskBtn {
    -fx-background-image: url("./../images/menu_icons/clipboard-outline_32px.png");
}

#addTagBtn:hover, #personalTaskBtn:hover, #shareTaskBtn:hover {
    -fx-background-color: #eaf1f8;
}

/* Hover and pressed effects for buttons */
#createTaskBtn:hover {
    -fx-background-color: #357ae8;
}
#createTaskBtn:pressed {
    -fx-background-color: #2e6ac7;
}

