.text {
    -fx-font-family: Arial;
}

.context-menu {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-background-radius: 6px;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
.scroll-bar .thumb {
    -fx-background-color: rgba(46, 127, 255, 0.68);
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #3784ff;
}
.scroll-bar .track {
    visibility: false;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

.button {
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover{
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-radius: 5;
    -fx-background-color: #eaf1f8;
}

.label {

}