.text {
    -fx-font-family: Arial;
}

#listBody {
    -fx-background-radius: 10;
    -fx-background-color: #d8e5f2;
    -fx-border-radius: 5;
}

#listName, #listName:focused  {
    -fx-font-family: Arial;
    -fx-font-size: 17px;
    -fx-prompt-text-fill: #818181;
    -fx-background-radius: 5;
    -fx-background-color: #f8f9fa;
}

#listName:hover, #optionsBtn:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 10;
}
.scroll-pane .viewport {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-color: #4285f4;
}
.progress-bar .track {
    -fx-background-color: #f8f9fa;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0.5, 0, 3);
}

.button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
    -fx-background-color: transparent;
}

#addTaskBox {
    -fx-background-color: rgba(2, 48, 71, 0.4); /* Button background color */
    -fx-border-radius: 5px; /* Rounded corners for border */
    -fx-background-radius: 5px; /* Rounded corners for background */
    -fx-text-fill: white; /* Text color (if applicable) */

}
#addTaskBox:hover {
    -fx-cursor: hand; /* Change cursor to pointer on hover */
    -fx-text-fill: white;
    -fx-background-color: rgba(3, 93, 138, 1);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 3, 0, 0, 2);
}

#addTaskBtn{
    -fx-background-image: url("./../images/menu_icons/add-circle-outline_32px.png");
}

#optionsBtn {
    -fx-background-image: url("./../images/menu_icons/ellipsis-horizontal_32px.png");
}



